@use "../../style/colors";


.chat{
    &__title{
        border-bottom: 1px solid colors.$shadow;
        margin-left: -13px;
        padding: 10px;
    }

    &__preview-container{
        display: flex;
        justify-content: start;
        padding: 10px;
    }

}