@import "~bootstrap/scss/bootstrap";
@import "colors";

.align-center{
    display: flex;
    align-items: center;
}

.curser-pointer{
    cursor: pointer;
}

.height-100{
    height: 100vh;
}

.border-right{
    border-right: 1px solid $shadow;
}
